@use "../util";

body {
  font-size: var(--font-size-paragraph);
  font-family: var(--font-family);
  line-height: 1.5;
}

p {
  font-weight: var(--font-weight-paragraph);
  color: var(--Dark-grayish-blue);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.75em;
  line-height: 1.1;
  font-weight: var(--font-weight-subtitle);
}

h1 {
  font-weight: var(--font-weight-heading);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
