@use "../util";

body {
  font-size: var(--font-size-paragraph);
  font-family: var(--font-family);
  line-height: 1.5;
}

p {
  font-weight: var(--font-weight-paragraph);
  color: var(--Dark-grayish-blue);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.75em;
  line-height: 1.1;
  font-weight: var(--font-weight-subtitle);
}

h1 {
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-title);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.new__btn {
  color: var(--Off-white);
  background-color: var(--Soft-red);
  padding: 0.75em 1.5em;
  width: fit-content;
  margin-block: 1.5em 3em;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.new__btn:hover {
  background-color: var(--Very-dark-blue);
}

.sidebar {
  &__title {
    color: var(--Soft-orange);
    font-size: var(--font-size-side-title);
  }

  &__subtitle {
    cursor: pointer;
    color: var(--Off-white);
    transition: all 0.3s ease-in-out;
  }

  &__subtitle:hover {
    color: var(--Soft-orange);
  }
}

.card {
  &__subtitle {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  &__subtitle:hover {
    color: var(--Soft-red);
  }
}
